.contact-icon-and-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.contact-icon {
  height: 200px;
  width: 200px;
}

.contact-heading {
  color: #6d396b;
  font-weight: 600;
  font-family: Roboto;
}

@media (max-width: 576px) {
  .contact-icon {
    height: 150px;
    width: 150px;
  }
  .contact-heading {
    color: #6d396b;
    font-weight: 600;
    font-family: Roboto;
    font-size: 30px;
  }
}
